p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: Archia, sans-serif;
}
.image {
  width: 100%;
  height: 100%;
}

.App {
  color: #ffffff;
}
.App-header .main-header {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px 40px;
}
.App-header .main-header .header-left,
.App-header .main-header .header-right {
  display: flex;
  padding: 12px 0;
}
.App-header .main-header .header-left .header-logo {
  padding: 0 24px 0 16px;
}
.App-header .main-header .header-left .header-logo .logo {
  height: 24px;
}
.App-header .main-header .header-left .header-menu ul,
.App-header .main-header .header-right ul {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.App-header .main-header .header-left .header-menu ul li {
  padding: 0 24px;
}
.App-header .main-header .header-right ul li {
  padding: 0 10px;
}
.App-header .main-header .header-right .header-button {
  margin-left: 10px;
}
.App-header ul li a {
  color: #ffffff;
  text-decoration: none;
}
.App-header .main-header .header-right .header-button a {
  padding: 15px 24px;
  background-color: #03feff;
  font-weight: 500;
  border-radius: 8px;
  color: #000000;
  text-decoration: none;
}
.App-header .main-header .header-right .header-button a:hover {
  background-color: #ffffffb3;
}
.App-header .header-data {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.App-header .header-data .bg-gray {
  margin-right: 15px;
}
.App-header .header-data .hc img {
  width: 20px;
}

.main-content .container {
  margin: 0 auto;
  padding: 0 20px;
}

.main-content .first-section,
.main-content .first-section,
.main-content .third-section,
.main-content .forth-section,
.main-content .fifth-section,
.main-content .sixth-section,
.main-content .seventh-section {
  text-align: center;
}
.main-content .first-section {
  padding-bottom: 50px;
}
.main-content .first-section .fs-content h1 {
  font-size: 72px;
  margin-top: 20px;
}
.main-content .first-section .fs-content a {
  display: inline-block;
  background-color: #03feff;
  color: #000000;
  padding: 12px 30px 12px 30px;
  border-radius: 8px;
  text-decoration: none;
}

.main-content h2 {
  font-size: 40px;
  background: linear-gradient(to right, #ffffff 80%, #03feff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.main-content .second-section {
  padding: 50px 0;
}
.main-content .second-section .img-container {
  border: 5px solid #03feff;
  border-radius: 20px;
  background-color: #030204;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.main-content .second-section .first-slide .top-img,
.main-content .second-section .third-slide .top-img {
  margin-bottom: 20px;
}
.main-content .second-section img {
  object-fit: contain;
}
.main-content .second-section .first-slide .bottom-img,
.main-content .second-section .third-slide .bottom-img {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: flex-start;
}
.main-content .second-section .first-slide .bottom-img .bi-left-img,
.main-content .second-section .third-slide .bottom-img .bi-left-img {
  width: 30%;
}
.main-content .second-section .first-slide .bottom-img .bi-right-img,
.main-content .second-section .third-slide .bottom-img .bi-right-img {
  width: 70%;
}
.main-content
  .second-section
  .first-slide
  .bottom-img
  .bi-right-img
  img:last-child,
.main-content
  .second-section
  .third-slide
  .bottom-img
  .bi-right-img
  img:last-child {
  margin-top: 20px;
}

.main-content .second-section .second-slide,
.main-content .second-section .third-slide {
  position: absolute;
  top: 0;
}
.main-content .second-section .second-slide .bottom-content h5 {
  font-size: 22px;
}
.main-content .second-section .second-slide .bottom-content .flex-imgs,
.main-content .second-section .second-slide .bottom-content .title-with-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.main-content .third-section {
  padding: 50px 0;
}
.main-content .third-section .three-col-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .third-section .three-col-content .single-col-content {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content
  .third-section
  .three-col-content
  .single-col-content
  .left-col
  img {
  padding: 10px;
  display: block;
}
.main-content
  .third-section
  .three-col-content
  .single-col-content
  .left-col
  .img-border {
  margin-right: 15px;
  padding: 8px;
  border: 1px solid #ffffff50;
  border-radius: 12px;
  background-color: #ffffff0a;
}
.main-content
  .third-section
  .three-col-content
  .single-col-content
  .left-col
  .img-bg {
  box-shadow: 0 10px 23px 0 rgba(191, 115, 248, 0.24);
  background-color: #03feff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
}
.main-content .third-section .three-col-content .single-col-content .right-col {
  text-align: left;
}
.main-content
  .third-section
  .three-col-content
  .single-col-content
  .right-col
  p {
  margin: 0 0 6px;
  color: #fff6;
  letter-spacing: -0.64px;
}
.main-content
  .third-section
  .three-col-content
  .single-col-content
  .right-col
  h4 {
  margin: 0;
  font-size: 36px;
  color: #f3f2f4;
  letter-spacing: 1.44px;
}

.main-content .forth-section {
  padding: 100px 0;
}
.main-content .forth-section .forth-content h2 span {
  color: #03feff;
}
.main-content .forth-section .forth-content a,
.main-content .seventh-section a {
  background-color: #03feff;
  color: #000000;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.main-content .fifth-section {
  padding: 50px 0 60px;
}
.main-content .fifth-section .strike-content {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 15%;
  margin: 0 auto;
}
.main-content .fifth-section .strike-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(51, 51, 51, 0) 0%,
    rgb(255, 255, 255) 100%
  );
}
.main-content .fifth-section .strike-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(51, 51, 51, 0) 100%
  );
}
.main-content .fifth-section .strike-content p {
  background-color: #0b0d17;
  z-index: 9;
  margin: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
}
.main-content .fifth-section .strike-content span {
  position: relative;
  padding: 10px;
  background: linear-gradient(to right, #03feff, #ffffff);
  background-clip: text;
  color: transparent;
}
.main-content .fifth-section h2 {
  margin: 10px 0 20px;
}
.main-content .fifth-section .three-col-card {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  margin-top: 50px;
}
.main-content .fifth-section .three-col-card .single-card,
.main-content .sixth-section .img {
  /* width: 33%; */
  border: 0 solid #ddd;
  border-radius: 9999px;
  padding: 1rem;
  position: relative;
}
.main-content .fifth-section .three-col-card .single-card:before,
.main-content .sixth-section .img::before {
  content: "";
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border-width: 1px;
  border-color: transparent;
  background: linear-gradient(90deg, #1f2937, #374151, #1f2937) border-box;
  mask-composite: exclude !important;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
}
.main-content .fifth-section .three-col-card .single-card .card-content h3 {
  font-size: 35px;
  margin: 0 0 20px;
  color: #03feff;
  font-weight: 400;
  margin-bottom: 16px;
}
.main-content
  .fifth-section
  .three-col-card
  .single-card
  .card-content
  h3.text-yellow {
  color: #f3c639;
}
.main-content .fifth-section .three-col-card .single-card .card-content p {
  margin: 0;
  font-size: 14px;
}

.main-content .sixth-section {
  padding: 80px 0;
}
.main-content .sixth-section h2 {
  margin-bottom: 10px;
}
.main-content .sixth-section .style-hr {
  border: 0 solid #e5e7eb;
  border-top-width: 1px;
  border-image: linear-gradient(
      90deg,
      transparent,
      rgb(148 163 184 / 50%),
      transparent
    )
    1;
  margin: 20px auto 60px;
  width: 60%;
}
.main-content .sixth-section .imgs {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main-content .sixth-section .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  transition: opacity 0.3s, transform 0.3s;
  background-color: #0a0f1d;
  border-radius: 1rem;
}
.main-content .sixth-section .img img {
  width: 100%;
}
.main-content .sixth-section .img p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}
.main-content .sixth-section .img p a {
  color: #c7d2fea6;
  text-decoration: none;
}
.main-content .sixth-section .img p a:hover {
  color: #03feff;
}

.main-content .seventh-section {
  padding: 60px 0 100px;
}

.main-content p {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.4;
  color: #c7d2fea6;
}

@media (max-width: 991px) {
  .main-content .first-section .fs-content h1 {
    font-size: 60px;
  }
  .main-content .third-section .three-col-content .single-col-content {
    padding: 0 10px;
  }
  .main-content
    .third-section
    .three-col-content
    .single-col-content
    .right-col
    h4 {
    font-size: 28px;
  }
  .main-content .forth-section .forth-content h2 {
    margin-bottom: 20px;
  }
  .main-content .forth-section .forth-content a,
  .main-content .seventh-section a {
    margin-top: 30px;
  }
  .main-content .fifth-section .strike-content {
    width: 18%;
  }
  .main-content .fifth-section .three-col-card .single-card .card-content h3 {
    font-size: 30px;
  }
  .main-content .fifth-section .three-col-card {
    grid-template-columns: inherit;
    width: 320px;
    margin: 50px auto 0;
  }
  .main-content .sixth-section .style-hr {
    width: 90%;
  }
  .main-content .sixth-section {
    padding: 60px 0 80px;
  }
}

@media (max-width: 767px) {
  .App-header .main-header .header-left .header-menu ul,
  .App-header .main-header .header-right ul {
    flex-wrap: wrap;
  }
  .main-content h2 {
    font-size: 35px;
  }
  .main-content .first-section {
    padding-top: 50px;
  }
  .main-content .first-section .fs-content h1 {
    font-size: 38px;
  }
  .main-content .third-section .three-col-content {
    flex-direction: column;
    row-gap: 30px;
  }
  .main-content .forth-section {
    padding: 50px 0 70px;
  }
  .main-content .fifth-section .strike-content {
    width: 45%;
  }
  .main-content .fifth-section .three-col-card {
    width: 280px;
  }
  .main-content p br {
    display: none;
  }
  .main-content .sixth-section {
    padding: 40px 0;
  }
  .main-content .sixth-section .style-hr {
    margin: 20px auto 50px;
  }
  .main-content .sixth-section .imgs {
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
  }
}

.main-content .seventh-section {
  padding: 80px 0;
  position: relative;
  background-color: #0b0d17;
}
.main-content .seventh-section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("https://www.lendfinity.xyz/_next/static/media/blurred-shape.089e0f40.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main-content .seventh-section h2 {
  margin-top: 0;
}

.App-footer {
  padding: 50px 0;
  background-color: #0b0d17;
}
.App-footer .container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 20px;
}
.App-footer .right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.App-footer .right-content .footer-logo .logo {
  font-size: 30px;
}
.App-footer .footer-icons .icons-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 0;
}
.App-footer .footer-icons .icons-list .icon img {
  width: 20px;
}

@media (max-width: 991px) {
  .App-footer .right-content {
    align-items: center;
  }
}
